.container {
    background-color: #f9f9f9;
  }


  .btn-logout {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-logout:hover {
    background-color: #c0392b;
  }
 

  .course-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .course-table th,
  .course-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  .course-table th {
    background-color: #f2f2f2;
  }

  .course-item .btn-danger {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .course-item .btn-danger:hover {
    background-color: #c0392b;
  }


.form-box {
    padding: 15px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.form-group label {
    color: #333; 
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

.btn-success {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #27ae60;
}